
.content {
	width: calc(100% - 4rem);
	margin-inline: auto;
	color: white;
	padding-bottom: 3rem;
}

.header {
	background-color: #00081d;
	padding: 1rem 2rem;
	width: 100%;
	margin-inline: auto;
	display: flex;
	justify-content: space-between;
	color: white;
	background-color: none;

}

.right {
	display: flex;
	gap: 1rem;
}

.options {
	padding: .31rem .71rem;
	border-radius: .31rem;
	display: flex;
	align-items: center;
	gap: .2rem;
	border: 1px solid white;
}

.options select {
	background: none;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	border: none;
}

.option svg {
	width: 1rem;
	aspect-ratio: 1;
}

.right button {

	padding: .31rem .71rem;
	border-radius: .31rem;
	border: 1px solid #e50815;
	background-color: #e50815;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.right button:hover {
	cursor: pointer;
	border: 1px solid #e50815;
	color: #e50815;
	background-color: white;
}

