.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	transition: background-color .2s ease-in-out;
	z-index: 9999;
}

.headerBlack {
	background-color: rgba(17, 17, 17, 1);
}

.nav {
	padding: 1rem 0;
	width: calc(100% - 2rem);
	margin-inline: auto;
	display: flex;
	justify-content: space-between;
}

.logos {
	display: flex;
	gap: 1rem;
	align-items: baseline;

}
.tmdb {
	height: ;
}