@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--bs-primary-text-emphasis: white;
	--bs-primary-bg-subtle: #132144;
	--bs-accordion-btn-color: transparent;
	--bs-border-color: none;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
ul {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-family: 'Roboto', serif;
	font-size: 16px;
	background-color: #111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins';
}

p {
	/*	max-width: 62ch;*/
	font-family: 'Roboto';
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

.answer {
	border-top: 1px solid black;
	background-color: #132144;
	color: white;
	/*padding: 1rem;*/
	max-height: 0;
	overflow: hidden;
	transition: max-height 0s ease-in-out;
}

.active > .answer {
	padding: 1rem;
	max-height: 1000px; /* Adjust the value as per your content height */
	transition: max-height 0.2s ease-in-out;
}

.accordion-button:after {
	content: none;
}